* {
    box-sizing: border-box;
}
header {
    width: 100vw;
}
nav {
    background-color: gray;
    width: 100%;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

img {
    max-width: 30vw;
}

.buttons {
    display: flex;
    gap: 20px;

    padding-right: 50px;
}

button {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

.profileMain {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #profilePicture {
        border-radius: 50%;
        max-width: 100px;
    }

    .profileDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        .profileDetails {
            width: 400px;
            padding: 30px;
        }
    }
}

.profileDetails p {
    margin: 0px;
    padding: 10px;
    font-size: 20px;
}

.profileDetails p span {
    display: inline-block;
    font-weight: 600;
    width: 100px;
}
