<nav>
    <a href="/">OAuth 2.0 Demo</a>

    <div class="buttons">
        <button onclick="window.location.href = '/'; ">Homepage</button>
        <button onclick="window.location.href = '/users/login'; ">Login</button>
        <button onclick="window.location.href = '/users/logout'; ">Logout</button>
    </div>
</nav>